.UpperComponents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
.componentsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}
